.carousel-image{
    height: auto!important;
    z-index: -0.8;
    opacity: 0.7;
}

.carousel-text{
    margin:10px;
    padding: 5px;
    color: rgb(255, 251, 251);
    background-color: rgb(162, 156, 156);
   
}

.our-product-heading{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}