
.logoName{
  align-items: center;
  text-align: center;
  padding: 10px;
  font-weight: 650;
  font-family: "sans-serif" ,"Poppins" ;
}

a{
  text-decoration: none;
  color:rgb(253, 253, 253);
}
a:hover{
  color:rgb(223, 23, 23);
} 

.menu {
  display: flex;
  margin-left: 20px;
  /* gap: 1.5rem; */
  align-items: center;
  justify-content: center;
  font-weight: 500;
  list-style: none;
}

.nav_links {
  color: rgb(255, 255, 255);
  margin: 5px;
  padding: 5px;
}
/* hood button css start */
.nav-link {
  color: #f8f9fa;
}

.nav-link:focus, .nav-link:hover {
  color:rgb(223, 23, 23)
}


.dropdown-menu {
  --bs-dropdown-link-active-bg: rgb(255, 255, 255);
}
/* hood button css end */

.nav_links:focus, .nav_links:hover {
  cursor: pointer;
  color:rgb(223, 23, 23);
}
.user_nav_links:hover {
  cursor: pointer;
  color:rgb(223, 23, 23);
}

.collaspe-button{
  margin: 5px;
  background-color: rgb(255, 255, 255);
}

.header-social-links{
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: center;
}
.socialheaderlink{
  color: gray;
  margin: 10px ;
}

.facebooklink:hover {
  cursor: pointer;
  color: #3b5998;
}

.youtubelink:hover {
  cursor: pointer;
  color: #ea0f0f;
}

.instagramlink:hover {
  cursor: pointer;
  color: #e87272;
}


